body { padding: 0; margin: 0 }
#unity-loading-bar { position: absolute; left: 50%; top: 35%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 750px; height: 1624px; background: url('login_bg_HD.png') no-repeat center }
#unity-progress-bar-empty { width: 280px; height: 20px; margin-top: 60px; margin-left: 60px; background: url('progress-empty.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 20px; margin-top: 10px; background: url('progress-full.png') no-repeat center }
